dataset/*
data/*
outputs/*
output/*
saved_log/*
verl_checkpoints/*
wandb/*
WebQSP/*
*.txt
!requirements.txt
*.zip
logs/*
*.npy
plots/*
*.pyc
*.log
*.csv
__pycache__/
tensorboard_log/
tensorboard*/*
.specstory/
*.swp
*.log
*.json
cache/*
checkpoints/*
debug_logs/
*.code-workspace
*.jsonl
*.json
analysis/*
logs
debug_logs
checkpoints
